
/* 
    Created on : 27.01.2017, 13:20:47
    Author     : Glinin.AE
*/

body {
    background-image: url('../images/backgrounds/bg_img01.png');
    font-size: 13px;
    font-family: Tahoma,"Helvetica Neue",Helvetica,Geneva,Arial,sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

#body-wrapper {
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 10px 10px 35px rgba(0,0,0,.3);
    -webkit-box-shadow: 10px 10px 35px rgba(0,0,0,.3);
}

#header {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    min-height: 120px;
}

.logo-first {
    background-image: url('../images/logo/logo_01.png');
    height: 100px;
    width: 125px;
    float: left;
}

.logo-second {
    background-image: url('../images/logo/logo_02.png');
    height: 100px;
    width: 125px;
    float: left;
}

.logo-third {
    background-image: url('../images/logo/logo_03.png');
    height: 100px;
    width: 125px;
    float: left;
}

.logo-footer-first {
    background-image: url('../images/logo/logo_footer_01.png');
    height: 80px;
    width: 100px;
    float: left;
}

.logo-footer-second {
    background-image: url('../images/logo/logo_footer_02.png');
    height: 80px;
    width: 100px;
    float: left;
}

.logo-footer-third {
    background-image: url('../images/logo/logo_footer_03.png');
    height: 80px;
    width: 100px;
    float: left;
}

#logo {
/*    float: left;
    margin-top: 45px;
    color: #333;
    letter-spacing: -0.06em;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2em;*/
    background-image: url('../images/logo.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin: 20px 0 0px 80px;
}

.header_orgname {
    margin-top: 55px;
    color: #3c80c2;
    letter-spacing: -0.06em;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2em;
}


.header_phone {
    font-family: "Helvetica Neue";
    padding-right: 50px;
    text-align: right;
}

.header_phone .callHeader {
    font-size: 20px;
}

.header_phone .phonePrefix {
    font-size: 13px;
}

.header_phone .phoneNumber {
    font-size: 18px;
    font-weight: bolder;
}

.content {
    padding-left: 0px!important;
}

.labelProduction {
    background-color: #01212E; height: 30px; color: #fff; text-align: center; font-weight: 500; font-size: 14px; padding-top: 3px; margin-top: 5px;
}

.leftside_menu {
    padding-right: 7px!important;
}



.slick-dotted.slick-slider {
    margin-bottom: 10px!important;
}
#menu {
    /*width: 250px;*/
    /*float: left;*/
}

.menu {
    list-style: none;
    padding-left: 0px;
    box-shadow: 3px 0px 8px -5px rgba(0, 0, 0, 0.26);
}

.menu li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.menu_header {
    padding-top: 3px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #01212E;
}

.menu li a {
    padding: 15px 10px 15px 50px;
    display: block;
    text-decoration: none;   
}

.menu_img_01 {
    background-image: url('../images/menu/zbi.png');
}

.menu_img_02 {
    background-image: url('../images/menu/beton.png');
}

.menu_img_03 {
    background-image: url('../images/menu/raztvor.png');
}

.menu_img_04 {
    background-image: url('../images/menu/blok.png');
}

.menu_img_05 {
    background-image: url('../images/menu/bruschatka.png');
    background-position: 0 12px!important;
}

.menu_img_06 {
    background-image: url('../images/menu/dostavka.png');
}

.menu_img_07 {
    background-image: url('../images/menu/nasos.png');
}

.menu_img_08 {
    background-image: url('../images/menu/vesy.png');
}

.menu_img_09 {
    background-image: url('../images/menu/vagon.png');
    background-position: 0 12px!important;
}

.menu_img_10 {
    background-image: url('../images/menu/hranenie.png');
}

#navigation {
    background-color: #01212E;
    margin-bottom: 7px;
    
}

#nav {
    background-color: #01212E;  
    width: 600px;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    height: 30px;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    width: 100px;
}

ul, li {
    list-style: none;
}

footer{
    height: 120px;
    padding-top: 20px;
}

.footer_address {
    border-right: 3px #01212E solid;
    padding-left: 60px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

.footer_contacts {
    padding-top: 7px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}
/*
#navigation {
    margin-top: 40px;
}

#navigation li {
    position: relative;
    float: left;
}

#navigation > li > a {
    height: 30px;
}

#navigation a {
    position: relative;
    display: block;
    margin: 0 0 0 30px;
    color: #959595;
    font-weight: 500;
    font-size: 14px;
}



ol, ul {
    list-style: none;
}*/

/*.container-wrapper {
    min-width: 980px;
}*/

